/**********************/
/* Events Page */
/**********************/

.section-calendar {
  padding: 4.8rem 0 4.8rem 0;
}

.events {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2.4rem;
}

.event-card {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.4s;
  margin-bottom: 2.4rem;
}

.event-card:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.event-img {
  width: 100%;
  margin-bottom: 2.4rem;
}

.event-name {
  font-size: 3rem;
  color: #500000;
  justify-self: center;
  font-weight: 400;

  padding: 1.2rem 2.4rem 1.2rem 2.4rem;
  background-color: #f0e7d8;
  border-radius: 10px;
}

.event-icons {
  display: flex;
  justify-items: center;
}

.date-icon {
  width: 2.4rem;
  height: 2.4rem;
  color: #629fac;
}

.event-dates {
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  row-gap: 2.4rem;
  align-content: center;

  padding: 1.2rem;
  background-color: #f0e7d8;
  border-radius: 10px;
  margin: 2.4rem;
}

.date {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  font-size: 1.6rem;
  font-weight: 600;
  justify-items: center;
  align-items: center;
}

.event-details {
  margin-top: 3.6rem;
  text-align: center;
}

.details-link:link,
.details-link:visited {
  font-size: 2rem;
  text-decoration: none;
  color: #629fac;
  transition: all 0.4s;
}

.details-link:hover,
.details-link:active {
  cursor: pointer;
  color: #578e99;
  font-size: 2.1rem;
}
