/**********************/
/* ACCORDIAN */
/**********************/

.section-accordion {
  padding: 4.8rem 0 4.8rem 0;
}

.accordion {
  width: 70rem;
  margin: 10rem auto;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

.accordion-box {
  background-color: #f0e7d8;
  padding: 2.4rem;
  border-radius: 10px;
  border-top: none;

  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 2.4rem;
  row-gap: 3.2rem;
  align-items: center;

  transition: all 0.4s;
}

.accordion-box:hover {
  transform: translatey(-0.8rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.accordion-number {
  font-size: 2.4rem;
  color: #a88080;
}
.accordion-question {
  all: unset;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  width: 100%;
  grid-column: 2 / span 2;

  font-size: 2.4rem;
  color: #500000;
}

.accordion-box.is-open {
  border-top: 9px solid #500000;
}

.accordion-question[aria-expanded="true"] .accordion-arrow {
  transform: rotate(180deg);
  transition: transform 0.4s ease;
}

.accordion-question[aria-expanded="false"] .accordion-arrow {
  transform: rotate(0deg);
  transition: transform 0.4s ease;
}

.accordion-arrow {
  width: 2.4rem;
  height: 2.4rem;
  color: #500000;
}

.accordion-answer {
  grid-column: 2;
}

.accordion-text {
  font-size: 1.8rem;
  color: #500000;
  line-height: 1.2;
}
